
    /**
     * @file _vars.scss
     * @author Jessica L. <jessica@orbitmedia.com>
     */

    /*------------------------------*\
        All Site Colors
    \*------------------------------*/

    $green: #72883e;
    $blue: #3690b7;
    $navy: #0a526a;
    $yellow: #e8aa25;
    $orange: #ec5c22;
    $red: #cc4007;
    $cream: #ece6d7;
    $black: #151515;

    /*------------------------------*\
        Theme Variables
    \*------------------------------*/

    $bodyFont: Arial, Helvetica, sans-serif;
    $bodyTextColor: $black;
    $primaryLinkColor: $orange;
    $primaryRolloverColor: #fab816;
    $headingFont: "filson-pro", "Filson Pro", serif;
    $fancyFont: "ff-tisa-web-pro", "Tisa Pro", serif;
    $subfooterTextColor: #f7f7f7;

    /*------------------------------*\
        Icons
    \*------------------------------*/
    $twitter: '';
    $facebook: '\f09a';
    $linkedin: "\f0e1";
    $youtube: "\f167";
    $googleplus: "\f0d5";
    $instagram: "\f16d";
    $pinterest: "\f231";
    $envelope: "\f0e0";

    /*------------------------------*\
        Listing / Pageblock Vars
    \*------------------------------*/
    $listingDivider: 1px solid #e5dbb8;
    $listingPadding: 80px;